<!doctype html>
<html lang='en'>
<head>
	<base href='/'/>
	<meta charset='UTF-8'>
	<meta name='viewport'
		  content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0'>
	<meta http-equiv='X-UA-Compatible' content='ie=edge'>
	<title><%= htmlWebpackPlugin.options.title %></title>
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap' rel='stylesheet' />
	<link href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet' />
	<link href="/favicon/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57">
	<link href="/favicon/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60">
	<link href="/favicon/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
	<link href="/favicon/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
	<link href="/favicon/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
	<link href="/favicon/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
	<link href="/favicon/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
	<link href="/favicon/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
	<link href="/favicon/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180">
	<link href="/favicon/android-icon-192x192.png" rel="icon" type="image/png"  sizes="192x192">
	<link href="/favicon/favicon-32x32.png" rel="icon" type="image/png" sizes="32x32">
	<link href="/favicon/favicon-96x96.png" rel="icon" type="image/png" sizes="96x96">
	<link href="/favicon/favicon-16x16.png" rel="icon" type="image/png" sizes="16x16">
	<link href="/manifest.json" rel="manifest">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="/favicon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
	<style>
        html, body, #app {
            margin: 0;
            padding: 0;
        }
	</style>
</head>
<body>
<div id='app'></div>
</body>
</html>
